---
import PropertyLayout from '../../layouts/PropertyLayout.astro';
let title = '2Br Golden Beach front Villas Malindi';
let description = 'Enjoy a Luxurious  Getaway at Golden Beach Villa at Mambrui and experience the best Malindi has to offer.';
let price = '400';
---
<style>
  .no-spinners {
    -moz-appearance: textfield;
  }

  .no-spinners::-webkit-outer-spin-button,
  .no-spinners::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
</style>

<PropertyLayout title={title} description={description}>
	<!--
  This component uses @tailwindcss/forms and @tailwindcss/aspect-ratio

  yarn add @tailwindcss/forms @tailwindcss/aspect-ratio
  npm install @tailwindcss/forms @tailwindcss/aspect-ratio

  plugins: [require('@tailwindcss/forms'), require('@tailwindcss/aspect-ratio')]
-->

<section>
<div class="relative max-w-screen-xl px-4 py-8 mx-auto">
<div class="grid items-start grid-cols-1 gap-8 md:grid-cols-2">
<div class="grid grid-cols-2 gap-4 md:grid-cols-1">
<div class="aspect-w-1 aspect-h-1">
<img
alt="Mobile Phone Stand"
class="object-cover rounded-xl"
src="/images/6/1.jpg"
/>
</div>

<div class="grid grid-cols-2 gap-4 lg:mt-4">
<div class="aspect-w-1 aspect-h-1">
<img
alt="Mobile Phone Stand"
class="object-cover rounded-xl"
src="/images/6/2.jpg"
/>
</div>

<div class="aspect-w-1 aspect-h-1">
<img
alt="Mobile Phone Stand"
class="object-cover rounded-xl"
src="/images/6/3.jpg"
/>
</div>

<div class="aspect-w-1 aspect-h-1">
<img
alt="Mobile Phone Stand"
class="object-cover rounded-xl"
src="/images/6/4.jpg"
/>
</div>

<div class="aspect-w-1 aspect-h-1">
<img
alt="Mobile Phone Stand"
class="object-cover rounded-xl"
src="/images/6/5.jpg"
/>
</div>
</div>
</div>

<div class="sticky top-0">
<strong class="border border-blue-600 rounded-full tracking-wide px-3 font-medium py-0.5 text-xs bg-gray-100 text-blue-600"> Pre Order </strong>

<div class="flex justify-between mt-8">
<div class="max-w-[35ch]">
<h1 class="text-2xl font-bold">{title}</h1>

<p class="mt-0.5 text-sm">
Enjoy a Luxurious  Getaway at Golden Beach Villa at Mambrui and experience the best Malindi has to offer. Ranging from the Mambrui sand dunes at the beach to the heated pool and exclusive moments in the private garden.

Features 

Spacious ensuite bedrooms
Has a Heated private swimming pool
Inclusive of Daily Housekeeping and private professional Chef
High-speed WiFi
well-manicured gardens for private functions
</p>

<div class="flex mt-2 -ml-0.5">
<svg
class="w-5 h-5 text-yellow-400"
xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
>
<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
</svg>

<svg
class="w-5 h-5 text-yellow-400"
xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
>
<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
</svg>

<svg
class="w-5 h-5 text-yellow-400"
xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
>
<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
</svg>

<svg
class="w-5 h-5 text-yellow-400"
xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
>
<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
</svg>

<svg
class="w-5 h-5 text-gray-200"
xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
>
<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
</svg>
</div>
</div>

<p class="text-lg font-bold">
${price}.99
</p>
</div>

<form class="mt-8">
<fieldset>
<legend class="mb-1 text-sm font-medium">6 Guests</legend>

<div class="flow-root">
<div class="flex flex-wrap -m-0.5">
<label for="color_tt" class="cursor-pointer p-0.5">
<input type="radio" name="color" id="color_tt" class="sr-only peer" />

<span class="inline-block px-3 py-1 text-xs font-medium border rounded-full group peer-checked:bg-black peer-checked:text-white">
No damage deposit
</span>
</label>

<label for="color_fr" class="cursor-pointer p-0.5">
<input type="radio" name="color" id="color_fr" class="sr-only peer" />

<span class="inline-block px-3 py-1 text-xs font-medium border rounded-full group peer-checked:bg-black peer-checked:text-white">
100% due at time of booking.
</span>
</label>
</div>
</div>
</fieldset>

<div class="flex mt-8">
<a href="https://flutterwave.com/pay/mv0uhqa7bd6e" 
class="block px-5 py-3 ml-3 text-xs font-medium text-white bg-green-600 rounded hover:bg-green-500"
>Book now</a>
</div>
</form>
</div>
</div>
</div>
</section>
</PropertyLayout>