---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<section>
		<div class="max-w-screen-lg mx-auto p-4">
			<div class="text-center p-4">
				<h2 class="mb-2 text-2xl">Featured Rentals</h2>
				<p>Carefully chosen to deliver you quality experience.</p>
			</div>

			<div class="grid grid-cols-1 md:grid-cols-3 items-center justify-between gap-4">
				<a href="/property/3Br-Jumeirah-Beachfront-Nyali-living" class="col-span-3 md:col-span-1 p-4 rounded-lg shadow-sm shadow-indigo-100">
					<img alt="123 Wallaby Avenue, Park Road" src="/3Br-Jumeirah-Beachfront-Nyali-living.jpg" class="object-cover w-full h-56 rounded-md">

					<div class="mt-2">
						<dl>
							<div>
								<dt class="sr-only">Price</dt>
								<dd class="text-sm text-gray-500">$250.00</dd>
							</div>

							<div>
								<dt class="sr-only">Address</dt>
								<dd class="font-medium">3Br Jumeirah Beachfront Nyali</dd>
							</div>
						</dl>

						<dl class="flex items-center mt-6 space-x-8 text-xs">
							<div class="sm:inline-flex sm:items-center sm:shrink-0">
								<svg class="w-4 h-4 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z"></path>
								</svg>

								<div class="sm:ml-3 mt-1.5 sm:mt-0">
									<dt class="text-gray-500">Parking</dt>
									<dd class="font-medium">2 spaces</dd>
								</div>
							</div>

							<div class="sm:inline-flex sm:items-center sm:shrink-0">
								<svg class="w-4 h-4 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"></path>
								</svg>

								<div class="sm:ml-3 mt-1.5 sm:mt-0">
									<dt class="text-gray-500">Bathroom</dt>
									<dd class="font-medium">3 rooms</dd>
								</div>
							</div>

							<div class="sm:inline-flex sm:items-center sm:shrink-0">
								<svg class="w-4 h-4 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
								</svg>

								<div class="sm:ml-3 mt-1.5 sm:mt-0">
									<dt class="text-gray-500">Bedroom</dt>
									<dd class="font-medium">3 rooms</dd>
								</div>
							</div>
						</dl>
					</div>
				</a>
				<a href="/property/3Br-Ahadi-Beachfront-Villas-at-Kikambala-out" class="col-span-3 md:col-span-1 p-4 rounded-lg shadow-sm shadow-indigo-100">
					<img alt="123 Wallaby Avenue, Park Road" src="/3Br-Ahadi-Beachfront-Villas-at-Kikambala-out.jpg" class="object-cover w-full h-56 rounded-md">

					<div class="mt-2">
						<dl>
							<div>
								<dt class="sr-only">Price</dt>
								<dd class="text-sm text-gray-500">$350.00</dd>
							</div>

							<div>
								<dt class="sr-only">Address</dt>
								<dd class="font-medium">Ahadi 3Br Beachfront Villas at Kikambala</dd>
							</div>
						</dl>

						<dl class="flex items-center mt-6 space-x-8 text-xs">
							<div class="sm:inline-flex sm:items-center sm:shrink-0">
								<svg class="w-4 h-4 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z"></path>
								</svg>

								<div class="sm:ml-3 mt-1.5 sm:mt-0">
									<dt class="text-gray-500">Parking</dt>
									<dd class="font-medium">2 spaces</dd>
								</div>
							</div>

							<div class="sm:inline-flex sm:items-center sm:shrink-0">
								<svg class="w-4 h-4 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"></path>
								</svg>

								<div class="sm:ml-3 mt-1.5 sm:mt-0">
									<dt class="text-gray-500">Bathroom</dt>
									<dd class="font-medium">3 rooms</dd>
								</div>
							</div>

							<div class="sm:inline-flex sm:items-center sm:shrink-0">
								<svg class="w-4 h-4 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
								</svg>

								<div class="sm:ml-3 mt-1.5 sm:mt-0">
									<dt class="text-gray-500">Bedroom</dt>
									<dd class="font-medium">3 rooms</dd>
								</div>
							</div>
						</dl>
					</div>
				</a>
				<a href="/property/Penthouse-Apartment-Withliving-room" class="col-span-3 md:col-span-1 p-4 rounded-lg shadow-sm shadow-indigo-100">
					<img alt="123 Wallaby Avenue, Park Road" src="/Penthouse-Apartment-Withliving-room.jpg" class="object-cover w-full h-56 rounded-md">

					<div class="mt-2">
						<dl>
							<div>
								<dt class="sr-only">Price</dt>
								<dd class="text-sm text-gray-500">$100.00</dd>
							</div>

							<div>
								<dt class="sr-only">Address</dt>
								<dd class="font-medium">Penthouse Apartment Withliving room</dd>
							</div>
						</dl>

						<dl class="flex items-center mt-6 space-x-8 text-xs">
							<div class="sm:inline-flex sm:items-center sm:shrink-0">
								<svg class="w-4 h-4 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z"></path>
								</svg>

								<div class="sm:ml-3 mt-1.5 sm:mt-0">
									<dt class="text-gray-500">Parking</dt>
									<dd class="font-medium">2 spaces</dd>
								</div>
							</div>

							<div class="sm:inline-flex sm:items-center sm:shrink-0">
								<svg class="w-4 h-4 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"></path>
								</svg>

								<div class="sm:ml-3 mt-1.5 sm:mt-0">
									<dt class="text-gray-500">Bathroom</dt>
									<dd class="font-medium">2 rooms</dd>
								</div>
							</div>

							<div class="sm:inline-flex sm:items-center sm:shrink-0">
								<svg class="w-4 h-4 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
								</svg>

								<div class="sm:ml-3 mt-1.5 sm:mt-0">
									<dt class="text-gray-500">Bedroom</dt>
									<dd class="font-medium">2 rooms</dd>
								</div>
							</div>
						</dl>
					</div>
				</a>
				<a href="/property/3BrGoldenBeachfrontVillasMalindi" class="col-span-3 md:col-span-1 p-4 rounded-lg shadow-sm shadow-indigo-100">
					<img alt="123 Wallaby Avenue, Park Road" src="/3BrGoldenBeachfrontVillasMalindi.jpg" class="object-cover w-full h-56 rounded-md">

					<div class="mt-2">
						<dl>
							<div>
								<dt class="sr-only">Price</dt>
								<dd class="text-sm text-gray-500">$400.00</dd>
							</div>

							<div>
								<dt class="sr-only">Address</dt>
								<dd class="font-medium">3Br Golden Beachfront Villas Malindi</dd>
							</div>
						</dl>

						<dl class="flex items-center mt-6 space-x-8 text-xs">
							<div class="sm:inline-flex sm:items-center sm:shrink-0">
								<svg class="w-4 h-4 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z"></path>
								</svg>

								<div class="sm:ml-3 mt-1.5 sm:mt-0">
									<dt class="text-gray-500">Parking</dt>
									<dd class="font-medium">2 spaces</dd>
								</div>
							</div>

							<div class="sm:inline-flex sm:items-center sm:shrink-0">
								<svg class="w-4 h-4 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"></path>
								</svg>

								<div class="sm:ml-3 mt-1.5 sm:mt-0">
									<dt class="text-gray-500">Bathroom</dt>
									<dd class="font-medium">3 rooms</dd>
								</div>
							</div>

							<div class="sm:inline-flex sm:items-center sm:shrink-0">
								<svg class="w-4 h-4 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
								</svg>

								<div class="sm:ml-3 mt-1.5 sm:mt-0">
									<dt class="text-gray-500">Bedroom</dt>
									<dd class="font-medium">3 rooms</dd>
								</div>
							</div>
						</dl>
					</div>
				</a>
				<a href="/property/BougainvilleaVillaMalindi" class="col-span-3 md:col-span-1 p-4 rounded-lg shadow-sm shadow-indigo-100">
					<img alt="123 Wallaby Avenue, Park Road" src="/BougainvilleaVillaMalindi.jpg" class="object-cover w-full h-56 rounded-md">

					<div class="mt-2">
						<dl>
							<div>
								<dt class="sr-only">Price</dt>
								<dd class="text-sm text-gray-500">$500.00</dd>
							</div>

							<div>
								<dt class="sr-only">Address</dt>
								<dd class="font-medium">Bougainvillea Villa Malindi</dd>
							</div>
						</dl>

						<dl class="flex items-center mt-6 space-x-8 text-xs">
							<div class="sm:inline-flex sm:items-center sm:shrink-0">
								<svg class="w-4 h-4 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z"></path>
								</svg>

								<div class="sm:ml-3 mt-1.5 sm:mt-0">
									<dt class="text-gray-500">Parking</dt>
									<dd class="font-medium">3 spaces</dd>
								</div>
							</div>

							<div class="sm:inline-flex sm:items-center sm:shrink-0">
								<svg class="w-4 h-4 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"></path>
								</svg>

								<div class="sm:ml-3 mt-1.5 sm:mt-0">
									<dt class="text-gray-500">Bathroom</dt>
									<dd class="font-medium">N/L rooms</dd>
								</div>
							</div>

							<div class="sm:inline-flex sm:items-center sm:shrink-0">
								<svg class="w-4 h-4 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
								</svg>

								<div class="sm:ml-3 mt-1.5 sm:mt-0">
									<dt class="text-gray-500">Bedroom</dt>
									<dd class="font-medium">N/L rooms</dd>
								</div>
							</div>
						</dl>
					</div>
				</a>
				<a href="/property/BrGoldenBeachfrontVillasMalindi" class="col-span-3 md:col-span-1 p-4 rounded-lg shadow-sm shadow-indigo-100">
					<img alt="123 Wallaby Avenue, Park Road" src="/2BrGoldenBeachfrontVillasMalindi.jpg" class="object-cover w-full h-56 rounded-md">

					<div class="mt-2">
						<dl>
							<div>
								<dt class="sr-only">Price</dt>
								<dd class="text-sm text-gray-500">$400.00</dd>
							</div>

							<div>
								<dt class="sr-only">Address</dt>
								<dd class="font-medium">2Br Golden Beachfront Villas Malindi</dd>
							</div>
						</dl>

						<dl class="flex items-center mt-6 space-x-8 text-xs">
							<div class="sm:inline-flex sm:items-center sm:shrink-0">
								<svg class="w-4 h-4 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z"></path>
								</svg>

								<div class="sm:ml-3 mt-1.5 sm:mt-0">
									<dt class="text-gray-500">Parking</dt>
									<dd class="font-medium">2 spaces</dd>
								</div>
							</div>

							<div class="sm:inline-flex sm:items-center sm:shrink-0">
								<svg class="w-4 h-4 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"></path>
								</svg>

								<div class="sm:ml-3 mt-1.5 sm:mt-0">
									<dt class="text-gray-500">Bathroom</dt>
									<dd class="font-medium">2 rooms</dd>
								</div>
							</div>

							<div class="sm:inline-flex sm:items-center sm:shrink-0">
								<svg class="w-4 h-4 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
								</svg>

								<div class="sm:ml-3 mt-1.5 sm:mt-0">
									<dt class="text-gray-500">Bedroom</dt>
									<dd class="font-medium">2 rooms</dd>
								</div>
							</div>
						</dl>
					</div>
				</a>
			</div>
		</div> 
	</section>

	<section>
	<div class="max-w-screen-lg px-4 py-8 mx-auto sm:px-6 lg:px-8">
		<h2 class="text-xl font-bold sm:text-2xl">Customer Reviews</h2>

		<div class="flex items-center mt-4">
			<p class="text-3xl font-medium">3.8<span class="sr-only"> Average review score</span></p>

			<div class="ml-4">
				<div class="flex -ml-1">
					<svg class="w-5 h-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
					<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
					</svg>
					<svg class="w-5 h-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
					<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
					</svg>
					<svg class="w-5 h-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
					<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
					</svg>
					<svg class="w-5 h-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
					<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
					</svg>
					<svg class="w-5 h-5 text-gray-200" viewBox="0 0 20 20" fill="currentColor">
					<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
					</svg>
				</div>

				<p class="mt-0.5 text-xs text-gray-500">Based on 48 reviews</p>
			</div>
		</div>

		<div class="grid grid-cols-1 mt-8 lg:grid-cols-3 gap-x-16 gap-y-12">
			<blockquote>
				<header class="sm:items-center sm:flex">
					<div class="flex -ml-1">
						<svg class="w-5 h-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
						<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
						</svg>
						<svg class="w-5 h-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
						<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
						</svg>
						<svg class="w-5 h-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
						<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
						</svg>
						<svg class="w-5 h-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
						<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
						</svg>
						<svg class="w-5 h-5 text-gray-200" viewBox="0 0 20 20" fill="currentColor">
						<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
						</svg>
					</div>

					<p class="mt-2 font-medium sm:ml-4 sm:mt-0">The best thing money can buy!</p>
				</header>

				<p class="mt-2 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam possimus fuga dolor rerum dicta, ipsum laboriosam est totam iusto alias incidunt cum tempore aliquid aliquam error quisquam ipsam asperiores! Iste?</p>

				<footer class="mt-4">
					<p class="text-xs text-gray-500">John Doe - 12th January, 2024</p>
				</footer>
			</blockquote>

			<blockquote>
				<header class="sm:items-center sm:flex">
					<div class="flex -ml-1">
						<svg class="w-5 h-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
						<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
						</svg>
						<svg class="w-5 h-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
						<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
						</svg>
						<svg class="w-5 h-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
						<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
						</svg>
						<svg class="w-5 h-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
						<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
						</svg>
						<svg class="w-5 h-5 text-gray-200" viewBox="0 0 20 20" fill="currentColor">
						<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
						</svg>
					</div>

					<p class="mt-2 font-medium sm:ml-4 sm:mt-0">The best thing money can buy!</p>
				</header>

				<p class="mt-2 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam possimus fuga dolor rerum dicta, ipsum laboriosam est totam iusto alias incidunt cum tempore aliquid aliquam error quisquam ipsam asperiores! Iste?</p>

				<footer class="mt-4">
					<p class="text-xs text-gray-500">John Doe - 12th January, 2024</p>
				</footer>
			</blockquote>

			<blockquote>
				<header class="sm:items-center sm:flex">
					<div class="flex -ml-1">
						<svg class="w-5 h-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
						<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
						</svg>
						<svg class="w-5 h-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
						<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
						</svg>
						<svg class="w-5 h-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
						<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
						</svg>
						<svg class="w-5 h-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
						<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
						</svg>
						<svg class="w-5 h-5 text-gray-200" viewBox="0 0 20 20" fill="currentColor">
						<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
						</svg>
					</div>

					<p class="mt-2 font-medium sm:ml-4 sm:mt-0">The best thing money can buy!</p>
				</header>

				<p class="mt-2 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam possimus fuga dolor rerum dicta, ipsum laboriosam est totam iusto alias incidunt cum tempore aliquid aliquam error quisquam ipsam asperiores! Iste?</p>

				<footer class="mt-4">
					<p class="text-xs text-gray-500">John Doe - 12th January, 2024</p>
				</footer>
			</blockquote>
		</div>
	</div>
</section>
</BaseLayout>